.swapContainer{
    /* border: 1px blue solid;; */
    /* width: 70; */
    width:32%;
    margin: 0 auto;
    padding: 5rem 0rem 0rem 0rem;
    
    /* overflow: hidden; */
    box-sizing:border-box;
}


.dexContainer{
    border: 2px #d2d9ee solid;
    background-color: #fff;
    padding: 1rem 3rem;
    border-radius: 7px;
    overflow: hidden;
}

.dexHeader{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: white;
    padding:0rem 0.8rem;
}

.dexinnerContainer{
    /* background-color: #f5f6fc;
    border-radius: 10px; */
}

.dexDivider{
    background-color: white;
    border: 3px white solid;
    border-radius: -30px;
}

.box{
    /* border:1px red solid; */
    border:1px #e4e7f0 solid;
    background-color: #f5f6fc;
    border-radius: 20px;
    padding: 1rem 1rem 0rem 1rem;
}

.boxInner{
    /* border: 1px green solid; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top:0.3rem;

}

.boxInner .boxInput {
    /* border: 1px green solid; */
    width: 90%;
}

.boxInner .boxInput input{
    width: 100%;
    padding: 1rem;
    font-size: 1.9em;
    border: none;
    background-color: #f5f6fc;
    color:rgb(152,161,192);
}
.boxInner .boxInput input:focus{
    outline: none;
}

.boxInner .tickerContainer{
    /* border:1px yellow solid; */
    width: 10%;
    text-align: center;
}


/* Balance */
.balance {
    margin-top: 0;
    /* padding: 0; */
    /* border: 1px blue solid; */
    text-align: right;
    padding: 0rem 0.3rem 0.8rem 0;

}

.connectContainer button{
    width: 100%;
    text-align: center ;
    /* padding: 1rem 2rem 2rem 2rem 2rem !important;    */
    margin:1.5rem 0rem !important;
    padding: 1.3rem 0rem !important;
    font-size: 1.4em !important;
    border: none;
    border-radius: 20px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: white;
    background-color: #ff329c;
}
.connectContainer button:hover{
    opacity: 0.91;
    cursor: pointer;
}



/* Ticker container */

#secondTicker {
    /* border:1px green solid; */
    width: 16rem;
}

.tickerwrapper{
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tickerContainer button{
    /* border: 1px red solid; */
    width: 100%;
    border:none;
    border-radius: 20px;
    background-color: #ff329c;
    color:white;
    padding: 0;    
}
.tickerContainer button:hover{
    cursor: pointer;
    opacity: 0.9;
}
.tickerlogoContainer{
    /* border: 1px red solid; */
}

.tickerContainer button h3{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    /* border:1px green solid; */
}

.svgContainer{
    /* border:1px blue solid; */
    align-items: center;
    
}

.svgContainer svg{
    /* border:1px blue solid; */
    
}

/* First ticker */

#firstTicker{
    width:11.6rem;
    /* border:1px red solid; */
    /* border-radius: 2px; */
}

#firstTicker button{
    border-radius: 20px;
    background-color: #E8ECFB;
    color: black;
    /* padding: 0rem 1rem 0rem 1rem; */

}
#firstTicker button:hover{
    opacity: 0.8;
}

#firstTicker .svgContainer{
    /* padding-left: 0.4rem; */
}
#firstTicker .tickerlogoContainer{
    width: 1.9rem;
    padding-right: 0.3rem;
    padding-top: 0.1rem;
}
#firstTicker button img{
    /* border: 1px red solid; */
    width: 100%;
}

#secondTicker {
    width: 45%;
    /* border: 1px green solid; */
}

/* Flip container */
.flipIconContainer img{



    fill: red;
}

.motionContainer{
    border-radius: 12px;
    height: 40px;
    width: 40px;
    position: relative;
    margin: -18px auto;
    background-color: #E8ECFB;
    border:4px white solid;
    z-index: 2;
    transition: 0.2s all ease-in;
}

.motionContainer:hover{
    cursor: pointer;
    background-color: #e2e7fc;
    padding-top: 4px;

    
}

.motionContainer svg{
    width: 100%;
}